@import 'tops.css';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 465px;

  header {
    h1 {
      font-family: 'Angel', serif;
      font-size: 150px;
    }
  }

  div.container-fluid {
    div.row {
      div.step-progress-bar {

        ul {
          width: 100%;
          height: 75px;
          display: flex;
          justify-content: space-between;
          list-style: none;

          li {
            position: relative;
            width: -webkit-calc(100% / 5);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: gray;
            font-weight: 700;
            margin: 0;
            text-align: center;

            &:before {
              content: '';
              position: absolute;
              height: 25px;
              width: 25px;
              background-color: lightgray;
              border-radius: 50%;
              top: 0;
              left: -webkit-calc(50% - 12px);
              z-index: 1;
              transition: background-color 2s linear;
            }

            &:not(:first-child):after {
              content: '';
              position: absolute;
              height: 7px;
              width: 100%;
              background-color: lightgray;
              top: 10px;
              left: -50%;
              transition: background-color 1.5s linear;
            }

            &.visited, &#Current {
              &:after, &:before {
                background-color: mediumseagreen;
              }
            }

            p {
              margin: 0;
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              line-height: 16px;
            }
          }
        }
      }

      div#Email, div#Certification, div#Settings, div#Secret-question, div#Confirm {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /*Email*/
      div#Email {
        .form-container {
          border: 2px solid black;
          border-radius: 10px;
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          margin-top: 3px;
          position: relative;

          &:after {
            opacity: 0;
            content: "";
            height: 0;
            width: 0;
            border-top: mediumseagreen solid 15px;
            border-left: transparent solid 10px;
            border-right: transparent solid 10px;
            position: absolute;
            top: -20px;
            left: 80px;
            z-index: -1;
            -webkit-transition: all 0.5s linear;
          }

          &:before {
            opacity: 0;
            content: "You can't use this email address";
            text-align: center;
            font-weight: 600;
            height: 30px;
            width: 250px;
            border: 2px mediumseagreen solid;
            border-radius: 10px;
            background-color: white;
            position: absolute;
            top: -50px;
            left: 60px;
            z-index: -1;
            -webkit-transition: all 0.5s linear;
          }

          &.invalid:before, &.invalid:after {
            -webkit-transition: opacity 0.5s linear;
            opacity: 1;
            z-index: 10;
          }

          label {
            margin-bottom: 0;
            height: 100%;
            display: flex;
            align-items: center;
            border-right: 2px solid;

            img {
              margin: 0 8px;
              height: 36px;
              width: 36px;
            }
          }

          input {
            &:focus {
              outline: solid 2px green;
            }
          }

          input[type="email"] {
            width: calc(100% - 52px);
            height: 100%;
            border: none;
            border-radius: 0 10px 10px 0;
            background-color: white;
            font-size: 1.5em;
            padding-left: 5px;
            transition: box-shadow 0.3s linear;
            font-family: 'Serif';
          }

          input[type="text"] {
            width: calc(100% - 52px);
            height: 100%;
            border: none;
            font-size: 1.5em;
            padding-left: 5px;
            font-family: 'Serif';
            background-color: white;
            &:nth-last-child(1) {
              border-left: 2px solid black;
              border-radius: 0 10px 10px 0;
            }
          }

          input:-webkit-autofill {
            -webkit-transition: background-color 9999s;
            transition: background-color 9999s;
          }
        }
      }

      div#Certification {
        /*Certification*/
        div.message {
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          color: gray;
        }

        div.code-group {
          width: 60%;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;

          input[type="text"] {
            text-align: center;
            display: inline;
            width: 50px;
            height: 60px;
            font-family: self;
            font-size: 35px;

            &.invalid {
              border-color: red;
            }

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }

      /*Settings*/
      div#Settings {
        display: flex;
        justify-content: center;

        div.setting-form {
          width: 80%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;

          div.pass-inspection {
            &:after {
              opacity: 0;
              content: "";
              height: 0;
              width: 0;
              border-top: mediumseagreen solid 15px;
              border-left: transparent solid 10px;
              border-right: transparent solid 10px;
              position: absolute;
              top: -20px;
              left: 20px;
              z-index: -1;
              -webkit-transition: all 0.5s linear;
            }

            &:before {
              opacity: 0;
              content: "doesn't match";
              text-align: center;
              font-weight: 600;
              height: 30px;
              width: 200px;
              border: 2px mediumseagreen solid;
              border-radius: 10px;
              background-color: white;
              position: absolute;
              top: -50px;
              left: 0;
              z-index: -1;
              -webkit-transition: all 0.5s linear;
            }

            &.invalid:before, &.invalid:after {
              -webkit-transition: opacity 0.5s linear;
              opacity: 1;
              z-index: 10;
            }
          }

          div.id-inspection {
            position: relative;
            &:after {
              opacity: 0;
              content: "";
              height: 0;
              width: 0;
              border-top: mediumseagreen solid 15px;
              border-left: transparent solid 10px;
              border-right: transparent solid 10px;
              position: absolute;
              top: -15px;
              left: 80px;
              z-index: -1;
              -webkit-transition: all 0.5s linear;
            }

            &:before {
              opacity: 0;
              content: "already used";
              text-align: center;
              font-weight: 600;
              height: 30px;
              width: 200px;
              border: 2px mediumseagreen solid;
              border-radius: 10px;
              background-color: white;
              position: absolute;
              top: -45px;
              left: 60px;
              z-index: -1;
              -webkit-transition: all 0.5s linear;
            }

            &.invalid:before, &.invalid:after {
              -webkit-transition: opacity 0.5s linear;
              opacity: 1;
              z-index: 10;
            }

            div {
              &.loading {
                width: 20px;
                height: 20px;
                border-bottom: 3px solid mediumseagreen;
                border-radius: 50%;
                position: absolute;
                top: 8px;
                right: 10px;
                animation: round linear infinite 1s;
              }

              &.valid {
                width: 20px;
                height: 20px;
                border: 3px solid mediumseagreen;
                border-radius: 50%;
                position: absolute;
                top: 8px;
                right: 10px;
              }

              &.invalid {
                position: absolute;
                top: 8px;
                right: 10px;
                height: 20px;
                width: 20px;

                &:before {
                  position: absolute;
                  top: 8px;
                  right: 0;
                  content: '';
                  width: 20px;
                  height: 2px;
                  background-color: coral;
                  transform: rotate(45deg);
                }

                &:after {
                  position: absolute;
                  top: 8px;
                  right: 0;
                  content: '';
                  width: 20px;
                  height: 2px;
                  background-color: coral;
                  transform: rotate(-45deg);
                }
              }
            }
          }

          div.form-container {
            height: 100%;
            width: 100%;
            position: relative;

            label {
              margin-bottom: 0;
              position: absolute;
              background-color: white;
              color: black;
              top: -15px;
              left: 7px;
              font-weight: 600;
              z-index: 1;
            }

            input[type="text"], input[type="password"] {
              width: 100%;
              height: 35px;
              border: 1px solid lightgray;
              border-radius: 5px;
              font-size: 1.5em;
              padding-left: 10px;
              outline: none;
            }
          }

          span.openness-description {
            font-size: 15px;
            margin-right: 10px;
          }

          div.switch-area {
            width: 60px;
            height: 26px;
            position: relative;

            label {
              width: 100%;
              height: 100%;
              border-radius: 25px;
              border: 2px solid lightgray;
              transition: background-color .2s;
            }

            div#Circle {
              position: absolute;
              background-color: white;
              top: 3px;
              left: 3px;
              height: 20px;
              width: 20px;
              border: 1px solid lightgray;
              border-radius: 50%;
              transition: .2s;
            }

            input[type="checkbox"] {
              display: none;

              &:checked {
                & + label {
                  background-color: limegreen;
                }

                & ~ div#Circle {
                  transform: translateX(35px);
                }
              }
            }
          }
        }
      }

      /*Secret Question*/
      div#Secret-question {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-weight: 600;
          border-bottom: black 1px solid;
        }

        div.form-container {
          width: 60%;
          display: flex;
          flex-direction: column;
          margin: 10px;

          select {
            width: 100%;
            height: 30px;
            background-color: white;
          }

          input[type="text"] {
            width: 100%;
            height: 40px;
          }
        }
      }

      div#Confirm {
        transition: height 0.4s linear;

        &.loaded {
          height: 220px;
        }

        div.form-container {
          width: 80%;
          height: 45px;

          label {
            width: 20%;
            text-align: center;
            font-weight: 600;
          }

          input, select {
            width: 70%;
            background-color: white;
            margin: 0;
            border: 1px solid darkgray;
            box-shadow: 2px 2px 5px darkgray;
          }

          &.openness {
            display: flex;

            div.switch-container {
              width: 70%;
              display: flex;
              justify-content: center;

              div.switch-area {
                width: 60px;
                height: 26px;
                position: relative;

                label {
                  width: 100%;
                  height: 100%;
                  border-radius: 25px;
                  border: 2px solid lightgray;
                  transition: background-color .2s;
                }

                div#confirm-circle {
                  position: absolute;
                  background-color: white;
                  top: 3px;
                  left: 3px;
                  height: 20px;
                  width: 20px;
                  border: 1px solid lightgray;
                  border-radius: 50%;
                  transition: .2s;
                }

                input[type="checkbox"] {
                  display: none;

                  &:checked {
                    & + label {
                      background-color: limegreen;
                    }

                    & ~ div#confirm-circle {
                      transform: translateX(35px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    div.button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      input[type="submit"] {
        background-color: white;
        border: 2px solid black;
        padding: 5px;
        height: 50px;
        width: 200px;
      }
    }
  }

  p#Description {
    height: 32px;
  }

  /*loading animation*/

  .loader-wrap {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, .8);
    z-index: 9999;
  }

  .loader {
    color: mediumseagreen;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }

  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}