/*global selecter*/
@import "style.css";

/*すべてのページの幅と高さをビューサイズに設定*/
body {
    height: 100vh;
    width: 100vw;
    min-width: 270px;
    background-color: white;
    animation-name: onload;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes onload { /*読み込み時のフェードインのアニメーション*/
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100vw;
    text-align: center;
}

input {
    font-family: 'Goudy';
}

input[type="submit"] {
    transition: background-color 0.2s linear; /*0.2秒かけて背景色が変わるように設定*/
}

input[type="submit"]:hover {
    background-color: whitesmoke;
}
